
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/share/_Layout.cshtml";
}

@*Start body*@
<section>
    <center>
        <div class="mt-2 bg-warning p-5">
            <h1>welcome to home page</h1>
            <p>Route Academy</p>
        </div>
    </center>
</section>
@*end body*@

